 @model Framework.Entities.ShoppingCart
@{
    ViewData["Title"] = "Details";
}

<form method="post">
    <input type="hidden" asp-for="ProductId" />
    <div class="container bg-light p-4 rounded shadow-lg">
        <div class="card">
            <div class="card-header bg-primary text-white d-flex justify-content-between align-items-center">
                <div>
                    <h1>@Model.Product.Title</h1>
                    <p class="text-warning">by @Model.Product.Author</p>
                </div>
                <div class="text-end">
                    <span class="badge bg-success p-2">@Model.Product.CoverType.Name</span>
                    <span class="badge bg-warning p-2">@Model.Product.Category.Name</span>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-8">
                        <h5 class="text-muted">ISBN: @Model.Product.ISBN</h5>
                        <h5 class="text-muted"><strike>@Model.Product.ListPrice.ToString("c")</strike></h5>

                        <div class="table-responsive">
                            <table class="table table-bordered text-center">
                                <thead class="bg-secondary text-white">
                                    <tr>
                                        <th>Quantity</th>
                                        <th>1-49</th>
                                        <th>50-99</th>
                                        <th>100+</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr style="color: maroon; font-weight: bold">
                                        <td>Price</td>
                                        <td>@Model.Product.Price.ToString("c")</td>
                                        <td>@Model.Product.Price50.ToString("c")</td>
                                        <td>@Model.Product.Price100.ToString("c")</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <p class="text-secondary">@Html.Raw(Model.Product.Description)</p>

                        <div class="row align-items-center">
                            <div class="col-4">
                                <h4 class="text-primary">Count</h4>
                            </div>
                            <div class="col-4">
                                <input type="number" class="form-control" asp-for="Count" min="1" value="1">
                            </div>
                            <div class="col-4">
                                <a class="btn btn-primary" style="color:white" data-toggle="modal" data-target="#exampleModal">Read More</a>
                            </div>
                       
                        </div>
                    </div>
                    <div class="col-lg-4 text-center">
                        <img src="@Model.Product.ImageUrl" class="img-fluid rounded shadow" />
                    </div>
                </div>
            </div>

            <div class="card-footer text-center">
                <div class="row">
                    <div class="col-md-6 pb-2">
                        <a asp-action="Index" class="btn btn-success btn-lg w-100">Back to List</a>
                    </div>
                    <div class="col-md-6 pb-2">
                        <button type="submit" class="btn btn-primary btn-lg w-100">Add to Cart</button>
                    </div>
                </div>
            </div>

            <!-- Modal -->
            
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <iframe src="@Model.Product.BookPdfUrl" class="w-100" style="height: 500px;"></iframe>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Modal -->
        </div>
    </div>
</form>

<!-- Ensure Bootstrap 5 JS is Loaded -->


